@font-face {
    font-family: "Raileway";
    src: url(ressources/polices/Raleway-Regular.ttf);
}



/* Gestion des couleurs */

/* bleu principal : #0065FC; */
/* bleu secondaire : #DEEBFF; */
/* gris de fond : #F2F2F2; */



/* Généralité HTML  */

*{
    outline: none;
}

body{
    margin: 0;
    padding: 0;
    font-family: "Raileway";
    /* background-color: grey; */
}

h1{
    margin: 0;
}

h1 span{
    display: none;
}

a{
    text-decoration: none;
}

img{max-width: 100%;}

ul{
    list-style: none;
    margin: 0;
    padding: 0rem;
}

    ul li{margin: 0;}

button{
    border: none;
    cursor: pointer;
    transition: 0.2s;
    background: none;
}


i{
    font-size: 0.9rem;
    width: 20px;
    text-align: center;
}

.wrapper{
    max-width: 1280px;
    margin: auto;
}





/* Section header */

header{
    /* padding: 1rem; */
    position: relative;
}

/* @media(min-width:800px){
    header{padding: 3.2rem;}
} */

header .wrapper .header-logo{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}



header .wrapper nav ul{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 100%;
        margin: 0;
    }

    header .wrapper nav ul li{
        margin: 0 2rem;
    }
    
    header .wrapper nav ul li a {
        padding: 3rem;
    }
    
                .bouton-inscription{
                    color: #0065FC;
                    font-weight: 600;
                }
                
                header .wrapper ul li a.active{
                    color: #0065FC;
                    border-top: 3px solid #0065FC;
                }
                
                
@media(max-width:970px){

    header .wrapper{width: 100%; margin: 0;}

    header .wrapper nav ul{display: flex; flex-wrap: wrap; width: 100%; height: 100px;}

    header .wrapper nav ul li{height: 30px;}

    header .wrapper nav ul li:nth-of-type(1) {
        order: 2; width: 50%; background-color: aquamarine; text-align: center;
    }

    header .wrapper nav ul li:nth-of-type(2) {
        order: 3; width: 50%; text-align: center;
    }

    header .wrapper nav ul li:nth-of-type(3){order: 1; width: 100%; text-align: end; background-color: bisque;}
}
                
                
/* Section recherche  */
                

.recherche-section{
    padding: 1rem;
}

    .recherche-section i{padding: 0.65rem;}
    .recherche-section .fa-info{color: #0065FC; padding: 0.3rem 0.1rem; border: 1px solid #cecece; border-radius: 100%;}
    .recherche-section em{font-style: normal; margin: 1rem 0;}


    /* Sous-section barre de recherche */

    .barre-de-recherche{
        margin-top: 2rem; display: flex;
    }

    .barre-de-recherche *{display: block;}

    .barre-de-recherche i{
        
        border-radius: 8px 0 0 8px;
        position: relative; z-index: 1;
    }

    .barre-de-recherche i.fa-map-marker-alt{background-color: #F2F2F2;;}


    .barre-de-recherche input{
        font-weight: bold;
        margin-right: 0;
        border: 1px solid #cecece;
    }
    
    .barre-de-recherche button{
        padding: 0.6rem 0.9rem;
        background-color: #0065FC;
        color: #FFF;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        transition: 0.2s;
        transition-property: background-color, color;
    }

    .rechercher-texte{display: none;}

    @media(min-width:800px){.rechercher-icone {display: none;} .rechercher-texte{display: inline;}}
    @media(max-width:799px){.rechercher-icone{padding: 0 !important;}}

        .barre-de-recherche button:hover{
            background-color: #DEEBFF;
            color: black;
        }


    /* Sous-section filtres */

    .filtres{
        margin-top: 1rem;
        margin-bottom: 2rem;
    }


        .filtres span{
            font-weight: bold;
            display: block;
            margin-bottom: 0.8rem;
        }

        @media(min-width:800px){.filtres span{display: inline;}}

        .filtres button{
            font-weight: bold;
            background-color: #FFF;
            border-radius: 50px;
            padding: 0 2rem 0 0;
            border: 1px solid #F2F2F2;
            margin: 0 1rem;
            border: 1px solid #F2F2F2;
        }

            .filtres button:hover{
                background-color: #0065FC; color: #FFF;
            }

            .filtres button i{
                color: #0065FC;
                background-color: #DEEBFF;
                border-radius: 100%;
                margin-left: -1px;
                margin-right: 20px;
            }






/* Section hébergement */

/* .hebergement-section{padding: 1rem;} */

    .hebergement-section article{background-color: #F2F2F2;}
    .hebergement-section h4{margin: 0;}

    /* .hebergement-section .notation{position: absolute;} */

    .hebergement-section .fa-star{color: #cecece;}
    .hebergement-section .fa-star.bleu{color: #0065FC;}
    

    @media(min-width:1310px){
    
        .hebergement-section{display: flex; justify-content: space-between;}

        .hebergement-section .hebergement-tous{width: 876px;}
        .hebergement-section .hebergement-populaire{width: 364px;}
            
    }

    @media(max-width:1309px){.hebergement-section .hebergement-tous{background-color: #FFF;} }



    /* Sous-partie commune aux deux */

    
    .hebergement-liste{display: flex; flex-wrap: wrap; justify-content: space-around;}

    .hebergement-tous h3, .hebergement-populaire em{margin: 1rem 2rem 0;   }

        .hebergement-liste .hebergement-item{background-color: #FFF; margin: 1rem 20px; padding: 0.25rem; border-radius: 20px; box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);}
            
        .hebergement-infos{padding: 0.8rem 1rem 0;}


    
        

    .hebergement-tous, .hebergement-populaire{border-radius: 20px;}

 

    @media(max-width:1310px){
        .hebergement-populaire{border-radius: 0;}
    }


    
    /* Sous-partie hebergement-tous */



    
    .hebergement-tous img{border-top-left-radius: 20px; border-top-right-radius: 20px; object-fit: cover; width: 100%; height: 150px;}
    .hebergement-tous button{font-weight: bold; font-size: 1.1rem;  margin-top: 1rem; margin-left: 2rem;}

    .hebergement-tous .hebergement-liste{flex-wrap: wrap;}

    @media(min-width:1310px){
        .hebergement-tous{width: 896px; order: 1;}
        .hebergement-tous .hebergement-liste{justify-content: space-around;}
    }


        .hebergement-tous .hebergement-liste .hebergement-item{width: 320px;}

        .hebergement-tous .hebergement-liste .hebergement-item p{margin: 0.5rem 0;}

        @media(min-width:1310px){

            .hebergement-tous .hebergement-liste .hebergement-item{width: 244px;}

            .hebergement-tous .hebergement-liste .hebergement-item img{height: 100px;}
        }


       

    

    





    
    /* Sous-partie .hebergement-populaire */

    .hebergement-populaire {position: relative;}

    @media(min-width:1310px){
        .hebergement-populaire{width: 384px; order: 2;}
    }

    @media(max-width:1309px){.hebergement-populaire{margin-bottom: 2rem;}}


    
    .hebergement-populaire em{font-style: normal; font-weight: bold; font-size: 1.17rem; display: block; margin-bottom: 0.5rem;}
    .hebergement-populaire .graphique-icone{position: absolute; top: 23px; right: 20px; }


    .hebergement-populaire .hebergement-item{display: flex; width: 320px;}

    @media(min-width:1310px) {.hebergement-populaire .hebergement-item{ margin-bottom: 1.6rem; }}

    .hebergement-populaire .hebergement-item img{width: 120px; height: 130px; object-fit: cover; display: block; border-top-left-radius: 20px; border-bottom-left-radius: 20px;}

    /* @media(min-width:1310px){.hebergement-populaire .hebergement-item img{width: 40%;} } */
        
        
        








    /* Section activités */



/* .section-activites */

@media(min-width:1200px){.section-activites article{display: flex;}}

@media(min-width:1200px){.section-activites article .activites-par-3{ display: flex;}}

    
    /* Touche les ul de la section activités. Ils regroupent les éléments de liste (li) correspondant chacun à une activité à faire à Marseille. Ces éléments sont rangés par groupe de 3  */

    .section-activites article .activites-par-3{margin: 0 1rem;}
    
    @media(min-width:1300px){.section-activites article .activites-par-3{margin: 0;}}

        
        /* Touche les li de la section activités */

        .section-activites article .activites-par-3 .activite-item{box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1); border-radius: 20px; margin: 0 15px; margin-bottom: 2rem;}
        .section-activites article .activites-par-3 .activite-item.remove-margin-left{margin-left: 0;}
        .section-activites article .activites-par-3 .activite-item.remove-margin-right{margin-right: 0;}

        @media(max-width:1200px){.section-activites article .activites-par-3 .activite-item{width: 750px; margin: auto !important;}}
        @media(max-width:800px){.section-activites article .activites-par-3 .activite-item{width: 500px;}}
        @media(max-width:600px){.section-activites article .activites-par-3 .activite-item{width: 320px;}}



        /* Touche les li regroupés par 2 */


        @media(min-width:1200px){.section-activites article .activites-par-3 .regroupement-par-2{display: flex; flex-direction: column;}}
        



            /* Touche les images des li de la section activités */

            .section-activites article .activites-par-3 .activite-item img{width: 100%; max-height: 200px; object-fit: cover; border-top-left-radius: 20px; border-top-right-radius: 20px;}

            @media(min-width:800px){.section-activites article .activites-par-3 .activite-item img{max-height: 300px;}}
            @media(min-width:1200px){.section-activites article .activites-par-3 .activite-item img{max-height: 160px;}}

            @media(min-width:1200px){.section-activites article .activites-par-3 .activite-item.activite-item-1 img{max-height: 400px; height: 400px; width: 500px; object-fit: cover;}}
        
            
        
            /* Touche les titre des li de la section activités */
    
            /* .section-activites article .activites-par-3 .activite-item .activite-infos{background-color: #0065FC;} */
            .section-activites article .activites-par-3 .activite-item .activite-infos h4{margin-left: 2rem;}
            .section-activites article .activites-par-3 .activite-item-1 h4{padding-bottom: 0 !important;}




            /* Atelier débuggage */


            /* .section-activites article .activites-par-3 .activite-item{background-color: red;}
            .section-activites article .activites-par-3 .activite-item .activite-infos{background-color: #0065FC; height: 20px;}
            .section-activites article .activites-par-3 .activite-item .activite-infos h4{background-color: green;} */



            
            
            

        


    

    
    
        



    /* Section footer */




footer{background-color: #F2F2F2;}

    @media(min-width:800px){
        footer{padding: 2rem;}
    }

    footer .wrapper article{margin: 0 2rem;}    
    

    footer .wrapper article ul li{margin: 1rem 0;}

@media(min-width:800px){

    footer .wrapper{display: flex;}

}

@media(max-width:799px){
    footer .wrapper{padding-top: 0.1rem;}
}

@media(min-width:1310px){

    footer .wrapper article{margin: 0 6rem;}
    
}

@media(min-width:1280px){
    footer .wrapper article:nth-of-type(1){margin-left: 0.5rem;}
}