@font-face {
    font-family: "Raileway";
    src: url(ressources/polices/Raleway-Regular.ttf);
}



/* Gestion des couleurs */

/* bleu principal : #0065FC; */
/* bleu secondaire : #DEEBFF; */
/* gris de fond : #F2F2F2; */



/* Généralité HTML  */

*{
    outline: none;
}

body{
    margin: 0;
    padding: 0;
    font-family: "Raileway";
    /* background-color: grey; */
}

h1{
    margin: 0;
}

h1 span{
    display: none;
}

a{
    text-decoration: none;
}

img{max-width: 100%;}

ul{
    list-style: none;
    margin: 0;
    padding: 0rem;
}

    ul li{margin: 0;}

button{
    border: none;
    cursor: pointer;
    transition: 0.2s;
}


i{
    font-size: 0.9rem;
    width: 20px;
    text-align: center;
}

.wrapper{
    max-width: 1280px;
    margin: auto;
}





/* Section header */

header{
    background-color: #FFF;
    padding: 1rem;
    position: relative;
}

@media(min-width:800px){
    header{padding: 3.2rem;}
}

    header .header-logo{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    header nav ul{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 100%;
        margin: 0;
    }

        header nav ul li{
            margin: 0 2rem;
        }
        
            header ul li a {
                padding: 3rem;
            }

                .bouton-inscription{
                    color: #0065FC;
                    font-weight: 600;
                }

                header ul li a.active{
                    color: #0065FC;
                    border-top: 3px solid #0065FC;
                }




/* Section recherche  */


.recherche-section{
    padding: 1rem;
}

    /* Sous-section barre de recherche */

    .barre-de-recherche{
        margin-top: 1rem;
    }

    .barre-de-recherche i{
        background-color: #F2F2F2;
        border-radius: 8px 0 0 8px;
        position: relative; z-index: 1;
    }

    .barre-de-recherche input{
        font-weight: bold;
        padding: 0.5rem 0.8rem;
        margin-left: -5px; margin-right: 0;
        
    }
    
    .barre-de-recherche button{
        margin-left: -4px;
        padding: 0.6rem 0.9rem;
        background-color: #0065FC;
        color: #FFF;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        transition: 0.2s;
        transition-property: background-color, color;
    }

    .rechercher-texte{display: none;}

    @media(min-width:800px){.rechercher-icone {display: none;} .rechercher-texte{display: inline;}}

        .barre-de-recherche button:hover{
            background-color: #DEEBFF;
            color: black;
        }


    /* Sous-section filtres */

    .filtres{
        margin-top: 1rem;
    }

        .filtres i{padding: 0.65rem;}

        .filtres span{
            font-weight: bold;
            display: block;
            margin-bottom: 0.8rem;
        }

        @media(min-width:800px){.filtres span{display: inline;}}

        .filtres button{
            font-weight: bold;
            background-color: #FFF;
            border-radius: 50px;
            padding: 0 2rem 0 0;
            border: 1px solid #F2F2F2;
            margin: 0 1rem;
            border: 1px solid #F2F2F2;
        }

            .filtres button:hover{
                background-color: #0065FC; color: #FFF;
            }

            .filtres button i{
                color: #0065FC;
                background-color: #DEEBFF;
                border-radius: 100%;
                margin-left: -1px;
                margin-right: 20px;
            }






/* Section hébergement */

.hebergement-section{padding: 1rem;}

    .hebergement-section article{background-color: #c5c5c5; padding: 1rem;}

    @media(max-width:1000px){
        .hebergement-tous{background-color: #FFF;}
    }

    @media(min-width:1000px){
    
        .hebergement-section{display: flex; justify-content: space-between;}
        .hebergement-tous{width: 700px; order: 1;}

          

        .hebergement-populaire{width: 300px; order: 2;}
    }

    /* Sous-partie commune aux deux */

    
    .hebergement-liste{display: flex;}
        .hebergement-item{background-color: #FFF; margin: 0.5rem 0; border-radius: 20px;}

    
    /* Sous-partie hebergement-tous */

    .hebergement-tous h3{margin: 0;}

    .hebergement-tous .hebergement-liste{flex-wrap: wrap;}

    @media(min-width:1000px){
        .hebergement-tous .hebergement-liste{justify-content: space-around;}
    }

        .hebergement-tous .hebergement-liste .hebergement-item{
            width: 100%;
        }

        @media(min-width:1000px){
            .hebergement-tous .hebergement-liste .hebergement-item{
                width: 180px;
            }
        }


    
    /* Sous-partie .hebergement-populaire */
    
    .hebergement-populaire em{font-style: normal; font-weight: bold; font-size: 1.17rem;}
    .hebergement-populaire .hebergement-item{display: flex;}
    .hebergement-populaire .hebergement-item img{width: 33%; display: block; border-top-left-radius: 20px; border-bottom-left-radius: 20px}
        
        .hebergement-populaire .hebergement-liste{flex-direction: column;}
        
        


    /* .hebergement-section *{margin: 0 1rem 0 1rem;} */


